<%= form_for(sample) do |f| %>
  <% if sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
      <% sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :capture_time %>
    <%= f.datetime_select :capture_time %>
  </div>

  <div class="field">
    <%= f.label :sensor_id %>
    <%= f.number_field :sensor_id %>
  </div>

  <div class="field">
    <%= f.label :light %>
    <%= f.number_field :light %>
  </div>

  <div class="field">
    <%= f.label :soil_moisture %>
    <%= f.number_field :soil_moisture %>
  </div>

  <div class="field">
    <%= f.label :air_temperature %>
    <%= f.number_field :air_temperature %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
