<p id="notice"><%= notice %></p>

<h1>Samples</h1>

<table>
  <thead>
    <tr>
      <th>Capture time</th>
      <th>Sensor</th>
      <th>Light</th>
      <th>Soil moisture</th>
      <th>Air temperature</th>
    </tr>
  </thead>

  <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= sample.capture_time %></td>
        <td><%= sample.sensor_id %></td>
        <td><%= sample.light %></td>
        <td><%= sample.soil_moisture %></td>
        <td><%= sample.air_temperature %></td>
      </tr>
    <% end %>
  </tbody>
</table>
