<p id="notice"><%= notice %></p>

<p>
  <strong>Capture time:</strong>
  <%= @sample.capture_time %>
</p>

<p>
  <strong>Sensor:</strong>
  <%= @sample.sensor_id %>
</p>

<p>
  <strong>Light:</strong>
  <%= @sample.light %>
</p>

<p>
  <strong>Soil moisture:</strong>
  <%= @sample.soil_moisture %>
</p>

<p>
  <strong>Air temperature:</strong>
  <%= @sample.air_temperature %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
